<!DOCTYPE html>
html(lang="en")
    head
       include partials/headers
    body
        header.barra
            h1 UpTask - Administrador de Proyectos
            a(href="#") Cerrar Sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
                        //- span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre

            block contenido

        script(src="/dist/bundle.js")
        script(src='https://kit.fontawesome.com/0f8f9c9e3d.js' crossorigin='anonymous')
            //- pre= vardump(proyectos)